.flex {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.select-padre{
    display: flex;
    flex-direction: row;
}

.select{
    margin: 15px;
}

button{
    margin: 15px;
}
